@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    color: black;
    text-decoration: none;

}

ul {
    list-style: none;

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f3f6;
}

:root {
    --primary-color: #2874f0;
}

.container {
    padding: 0 2%;
}

/*----header-----*/
header {
    width: 100%;
    background-color: var(--primary-color);

}

header .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0px 100px;
}

header .nav-container .logo {
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .nav-container .logo img {
    width: 100%;
}

header .search {
    display: flex;
    align-items: center;
    width: 400px;
    background-color: aliceblue;
    

}

header .search .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0px 0px 2px black;

}

header .search input {
    width: 360px;
    height: 35px;
    border: none;
    outline: none;
    padding: 0 10px;
    border-radius: 4px;
}

header .search .search-container .search-btn {

    border: none;
    margin-top: 5px;
    padding: 0px 10px;
    background-color: white;
}

header .login {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

header .login button {

    padding: 6px 40px;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
}

header .become-seller {
    color: white;
    font-weight: 500;
}

header .more {
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .more svg {
    rotate: -90deg;
    margin-left: 6px;
}

header .cart {
    color: white;
    font-weight: 500;
}

@media screen and (max-width: 1200px) {
    header .nav-container {
        padding: 0px;
    }

    header .search {
        width: 360px;
    }

    header .search input {
        width: 320px;

    }

    
}

@media screen and (max-width: 860px) {
    header .cart {
        display: none;
    }

    header .search {
        width: 300px;
    }

    header .search input {
        width: 260px;

    }

    header .login button {
        padding: 5px 20px;

    }
    .section-1 .section-1-container{
        padding: 1%;
    }
    .section-1 .section-1-item img{
        width: 50px;
    }
    .section-1 .section-1-item{
        font-size: 12px;
    }


}

@media screen and (max-width: 660px) {
    header .search {
        width: 200px;
    }
    header .search input {
        width: 160px;

    }
    header .login button{
        padding: 4px 10px;
        font-size: 14px;
    
    }
    header .become-seller{
        font-size: 14px;

    }
    header .more{
        font-size: 14px;
    }
    .section-1{
        height: 50px;
    }
    .section-1 .section-1-item img{
        width: 40px;
        
    }
    .section-1 .section-1-item{
        font-size: 10px;
    }
    .section-1 .section-1-item{
        font-weight: 300;
    }
    
    
}
@media screen and (min-width: 350px) and (max-width : 480px) {
    header .search {
        width: 130px;
        
    }
    header .search .search-container{
        height: 20px;
    }
    header .search input {
        width: 100px;
        height: 100%;
        font-size: 10px;

    }
    header .search .search-container .search-btn{
        height: 100%;
        margin-top: -1px;
        padding: 0px 5px;
        height: 20px;
    }
    
    header .login button{
        padding: 2px 5px;
        font-size: 10px;
    
    }
    header .become-seller{
        font-size: 10px;

    }
    header .more{
        font-size: 10px;
    }
    header .nav-container{
        height: 30px;
    }
    header .search .search-container svg{
        width: 10px;
        margin-left: 16px;
    }
    
    .section-1 .section-1-item img{
        width: 30px;
        
    }
    .section-1 .section-1-item{
        font-size: 8px;
        font-weight: 500 ;
    }
    
}
/*-------section-1------------*/

.section-1{
    width: 100%;
    height: auto;
    padding: 10px 0px;
    background-color: white;
    box-shadow: 0px 1px 1px 0px rgb(0, 0, 0,16%);
}
.section-1-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 5%;

}
.section-1-item{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
    align-items: center;
    font-weight: 500;
    justify-content: center;
}
.section-1-item img{
    width: 64px;
    height: auto;
}


/*-----------section-2---------------------*/

 .section-2-container{
    width: 100%;
    margin-top: 1rem;
    height: auto;
   
}
.section-2-container img{
    width: 100%;
}
/*-------------section-3------------------*/


.section-3-container{
    width: 100%;
    margin-top: 0.5rem;
    height: 150px;
}
.section-3-container img{
    width: 100%;
}

/*----------section-4--------------*/

.section-4-container{
    margin-top: 8px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 300px;

}
.section-4-offers{
    width: 20%;
    height: 100%;
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/278/278/image/1e483f8045ec13a8.jpg?q=90");
    background-position: bottom;
    background-repeat: no-repeat;
    
}
.section-4-offer-viewall{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 70px;
    align-items: center;
    font-size: 30px;
}
.section-4-offer-viewall button{
    margin-top: 24px;
    height: 40px;
    color: white;
    background-color: var(--primary-color);
    border: none;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    padding: 10px 20px ;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 2px;
}
.section-4-list{
    height: 100%;
    display: flex;
   overflow-y: hidden;
   overflow-x:auto;
    width: calc(100% - 230px);
    
}
.section-4-item{
    width: 232px;
    height: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.section-4-item img{
    max-width: 200px;
    max-height: 200px;
}
.section-4-item-head{

    margin-top: 16px;
    font-weight: 500;
    font-size: 14px ;
}
.section-4-item-price{
    margin-top: 10px;
    font-size: 16px;
    color: #388e3c;
}
.section-4-item-explore{
    opacity: 0.6;
    margin-top: 10px;
    font-weight: 300;
    font-size: 12px;
}
/*-----------------section-5-------------*/
.section-5{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}
.section-5 img{
    width: 33%;
}
/*--------footer-----------*/

footer{
    margin-top: 26px;
background-color: white;
padding: 25px;
text-align: center;
font-size: 14px;
color: #878787;
}